<head>
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <%-include ("navbar.ejs")%>

    <div class="divider">
        <h1>Worship with people all over the world </h1>
        <div class="action-panel">
            <button> Get started </button>
        </div>
        <img src="/images/theSecondCross.png">
    </div>
</body>
