<head>
    <link rel="stylesheet" href="styles/form.css">
    <title>Login</title>
</head>

<body>
  <div class="main">
    <h2> <u> Login </u></h2>
    <form method="POST" action="/signup">
      <div class="login-inputs">
        <input type="name" name="name" placeholder="Name" id="name" required>
        <input type="password" name="password" placeholder="Password" required>
      </div>

      <button type="submit"> Amen</button>
    </form>
  </div>
</body>
