<head>
    <link rel="stylesheet" href="styles/form.css">
    <title>Signup</title>
</head>

<body>

  <div class="main">
    <h2> <u> Registration </u></h2>
    <form method="POST" action="/signup">
      <div class="inputs">
        <input type="name" name="name" placeholder="Name" id="name" required>
        <input type="name" name="country" placeholder="Country" required>
        
        <!-- Make the > arrow on this select be thicker-->
        <select required>
          <option name="" id="">Catholic</option>
          <option name="" id="">Presbeterian</option>
          <option name="" id="">Dutch Reform </option>
          <option name="" id="">Full Gospel</option>
          <option name="" id="">Baptist</option>
          </select>

        <input type="password" name="password" placeholder="Password" required>
      </div>

      <button type="submit"> Amen</button>
    </form>
  </div>
</body>
